*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}

main {
  background-color: #ffffff;
  max-width: 1500px;
  margin-top: 100px;
  width: 70%;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: start;
}

.header-menu {
  background-color: #ffffff;
  padding: 30px 60px;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.pesquisa {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.pesquisa:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

ul {
  margin-left: 35px;
}

.paragrafo-inicial {
  margin-bottom: 15px;
}